
{% extends "layout.html" %}

{% block pageTitle %}
  TRAMS
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        TRAMS - Prototype review V1.1
      </h1>
      <p>
        This prototype includes individual pages from the TRAMS service.
      </p>

      <p>
      The following list contains links to static pages.
      </p>

      <h2 class="govuk-heading-m">Accessibility related</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/accessibility">Accessibility statement</a>
        </li>  
      </ul>

      <h2 class="govuk-heading-m">Design History</h2>
      
      <ul class="govuk-list govuk-list--bullet">
       
        <li>
          <a href="https://sdd-design-history.netlify.app/a2b-external/" class="govuk-link" rel="noreferrer noopener" target="_blank">A design history for the SDD services (opens in new tab)</a>
        </li> 
     
      </ul>

    </div>
  </div>

{% endblock %}

